@use "vars";
// BottomBar styles

.bottom-bar {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 100;
}

.bottom-bar.blue, .bottom-bar-btn.blue {
	background: vars.$blue;
	color: vars.$white;
}
.bottom-bar.green, .bottom-bar-btn.green {
	background: vars.$green;
	color: vars.$white;
}
.bottom-bar.yellow, .bottom-bar-btn.yellow {
	background: vars.$yellow;
	color: vars.$darkTextColor;
}
.bottom-bar.red, .bottom-bar-btn.red {
	background: vars.$red;
	color: vars.$white;
}
.bottom-bar.white, .bottom-bar-btn.white {
	background: vars.$white;
	color: vars.$blue;
}

.bottom-bar-btn {
	border: none;
	font-size: 2rem;
	flex: 1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background 0.2s;
	color: vars.$white;
	background: transparent;
}
.bottom-bar-btn:active, .bottom-bar-btn.active {
	background: rgba(255,255,255,0.1);
}
