@import "vars";

// make a 2x2 fullpage grid
#wijk-keuze {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: calc(100vh - 80px);
	width: 100vw;
	font-family: Montserrat;
	color: rgba(0,0,0,.75);
	cursor: pointer;

	.wijk {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2em;
	}

	.wijk.red {
		background-color: $red;
	}

	.wijk.green {
		background-color: $green;
	}

	.wijk.blue {
		background-color: $blue;
	}

	.wijk.yellow {
		background-color: $yellow;
	}

}