.loading-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: var(--s-2) 0;

	img {
		width: 84px;
		height: 68px;
		object-fit: contain;
	}

	&:not(.shown) {
		display: none;
	}
}
