.loading-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	position: relative;
	top: -8px;
	width: 100%;

	img {
		width: 100px;
		height: 80px;
	}
	&:not(.shown) {
		display: none;
	}
}
