@import "vars";

* {
	// disable text selection
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

p,
span,
b,
i,
strong,
em,
h1,
h2,
h3,
h4,
h5,
h6 {
	cursor: default;
}

@font-face {
	font-family: Montserrat;
	src: url("../assets/fonts/Montserrat.woff");
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Montserrat;
	font-weight: 400;
}

button {
	border: none;
	cursor: pointer;
	background-color: $blue;
	color: white;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1.05em;
	letter-spacing: 1px;

	&.with-loading-icon {
		position: relative;
		height: 66px;
		.loading-icon {
			position: absolute;
			top: 0;
			left: 0;
			img {
				width: 50px;
				height: 40px;
			}
		}
	}

	&.big {
		padding: 24px 32px;
	}
	&.green {
		background-color: $green;
	}
	&.red {
		background-color: $red;
	}
	&.yellow {
		background-color: $yellow;
	}
}

input {
	border: none;
	background: #e0e0e0;
	&.big {
		min-width: 200px;
	}
	&.big,
	&.wristband-number {
		height: 68px;
		top: 2px;
		position: relative;
	}
	&.wristband-number {
		border-radius: 6px;
		font-weight: bold;
		padding: 0;
		width: 68px;
		text-align: center;
		font-size: 1.4em;
	}
	// disable number input arrow buttons:
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	&[type="number"] {
		-moz-appearance: textfield;
		appearance: textfield;
	}
	&:focus {
		outline: none;
	}
}

a {
	color: $blue;
	cursor: pointer;
	text-decoration: underline;
}

.main-content {
	&.red button {
		background-color: $red;
	}
	&.yellow button {
		background-color: $yellow;
	}
	&.green button {
		background-color: $green;
	}
}

.form {
	width: 100%;
	max-width: 480px;
	margin: 0 auto;

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="number"] {
		border: none !important;
		background: #78bff8;
		color: white;
		border-radius: 6px;
		height: 58px;
		margin-bottom: 18px;
		font-size: 18px;
		padding: 0 16px;
		width: calc(100% - 32px);
		font-family: Montserrat, Roboto, Arial, Helvetica, sans-serif;
		&:focus {
			background: lighten(#78bff8, 10%);
		}
		&::placeholder {
			color: #333;
		}
	}

	button {
		display: block;
		width: 100%;
	}
}

p.helper-link {
	text-align: center;
	width: 100%;
	font-weight: bold;
	margin-top: 18px;
}

p.link {
	color: $blue;
	text-decoration: underline;
	cursor: pointer;
}

button.fab {
	padding: 12px;

	&.sticky {
		position: fixed;
		background: white;
		border-radius: 50%;
		width: 48px;
		height: 48px;
		color: black;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		transition: all 0.3s;
		z-index: 5;

		&:hover {
			transform: scale(1.1);
			background: #f0f0f0;
		}

		&.bottom-right {
			bottom: 24px;
			right: 24px;
		}
	}
}

table {
	text-align: left;
	width: 100%;
	display: block;
	font-size: 18px;
	border-collapse: collapse;
	overflow-x: auto;

	tbody {
		display: table;
		width: 100%;
	}
	tr:nth-of-type(2n) {
		&,
		td {
			background: #e5e5e5;
		}
	}

	tr:nth-of-type(2n + 1) {
		&,
		td {
			background: #fafafa;
		}
	}
	td {
		padding: 16px 18px !important;
	}
	&.left-column-fixed {
		tr {
			td:first-of-type {
				position: sticky;
				left: 0;
				z-index: 1;
			}
		}
	}


	&.top-column-fixed {
		tr:first-of-type {
		  position: sticky;
		  top: 0;
		  z-index: 2;
		}
	  }

	&.withHeader tr:first-of-type {
		td {
			font-weight: bold;
		}
	}
}

.isRotating {
	// for for example a loading spinner
	animation-name: rotate;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}

.hidden {
	display: none;
}
